@import "normalize";
@import "rouge-github";
@import "config";

aside a.button {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}

aside#sidebar {
  float: right;
  width: 200px;
  min-height: 504px;
  padding-left: 10px;
  line-height: 1.5;
  font-color: #e6e6e6;
  background: transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat;
  @if $reverse-layout {
    left: auto;
    right: -14rem;
  } @else {
    left: -14rem;
    right: auto;
  }
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}
aside#sidebar a {
  font-weight: normal;
  color: #999999;
}
aside#sidebar .sidebar-item {
  padding: 1rem;
}
aside#sidebar .sidebar-item p:last-child {
  margin-bottom: 0;
}

aside#sidebar .sidebar-personal-info {
  .sidebar-personal-info-section {
    &:not(:first-of-type) {
      margin-top: .75rem;
    }
    line-height: 1rem;
    a, strong {
      text-decoration: none;
    }
  }
}

/* Sidebar nav */
aside#sidebar .sidebar-nav {
  border-bottom: 1px solid #e6e6e6;
}
aside#sidebar .sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid #e6e6e6;
}
aside#sidebar .sidebar-nav-item-sub {
  &:before {
    content: "";
    padding-left: 1em;
  }
  font-size: 85%;
  line-height: 85%;
}
aside#sidebar .sidebar-nav-item.active,
aside#sidebar a.sidebar-nav-item:hover,
aside#sidebar a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: #e6e6e6;
  border-color: transparent;
}

#container-shuffle {
  font-size: 15px;
  font-weight: bold;
  color: #2879d0;
}