<!DOCTYPE html><!-- 01101101 01101001 01101110 01100100 01100100 01110101 01110011 01110100 -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.domain }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/favicon-152.png">
    <link rel="stylesheet" href="/assets/minddust.min.css">
    <script src="/assets/blazy.min.js"></script>
    {% feed_meta %}
    {% seo title=false %}
  </head>
  <body>
    <header>
      <nav>
        <ul class="text-xs-center">
          <!-- <li><a href="/" class="label label-darkblue">{{ site.name }}</a></li>
          <li><a href="/blog/" class="label label-darkblue tooltip" title="Articles"><span class="icon icon-quill"></span></a></li>
          <li><a href="/projects/" class="label label-darkblue tooltip" title="Projects"><span class="icon icon-rocket"></span></a></li>
          <li><a href="/feed.xml" class="label label-darkblue tooltip" title="RSS"><span class="icon icon-rss"></span></a></li>
          <li><a href="https://github.com/{{ site.github.username }}" class="label label-darkblue tooltip" title="GitHub"><span class="icon icon-github"></span></a></li>
          <li><a href="https://twitter.com/{{ site.twitter.username }}" class="label label-darkblue tooltip" title="Twitter"><span class="icon icon-twitter"></span></a></li> -->
          {% if site.twitter_url %}
        <li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        {% endif %}
        {% if site.googleplus_url %}
        <li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
        {% endif %}
        {% if site.facebook_url %}
        <li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        {% endif %}
        {% if site.instagram_url %}
        <li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        {% endif %}
        {% if site.pinterest_url %}
        <li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
        {% endif %}
        {% if site.500px_url %}
        <li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
        {% endif %}
        {% if site.gitlab_url %}
        <li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
        {% endif %}
        {% if site.github_url %}
        <li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        {% endif %}
        {% if site.slack_url %}
        <li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
        {% endif %}
        {% if site.linkedin_url %}
        <li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
        {% endif %}
        </ul>
      </nav>
    </header>
    <section>
      <article>{{ content }}</article>
    </section>
    <footer class="text-xs-center text-uppercase text-muted"><small>&copy; {{ site.domain }}, {{ site.copyright }} &ndash; <a href="/imprint/">imprint</a></small></footer>
  </body>
</html>
